// Colors
$body-color: #15181D;

$primary:          #7473EE;
$secondary:        #9B9FA4;
$success:          #198754;
$info:             #0dcaf0;
$warning:          #FF821C;
$danger:           #dc3545;
$light:            #FAFBFF;
$dark:             #3F4042;
$darker:           #303134;
$darkest:          #202124;
$black:            #000000;
$white:            #ffffff;

$light-border:     #eef3fa;

// Others
$main-border-radius: 12px;
$standard-padding: 20px;